
body{
  text-align:center;
  font-family:Arial;
  background:#f5f5f5;
}

.logo{
  width:120px;
  margin-top:20px;
}

.btn{
  padding:10px 20px;
  background:black;
  color:white;
  text-decoration:none;
  display:inline-block;
  margin-top:20px;
}

.gallery img{
  width:200px;
  margin:10px;
  border-radius:10px;
}
